@model MVC4.PROJECT.Models.RegisterCustomersModel

@{
    ViewBag.Title = "Thêm khách hàng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>
        Thêm khách hàng
    </h1>
    <ol class="breadcrumb">
        <li><a href="/admin"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li class="active"><a href="#">Thêm khách hàng</a></li>

    </ol>
</section>
<section class="content">
    @using (Html.BeginForm("AddCustomer", "User", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
    {

        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">
                    <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Lưu</button>
                    <a href="#" onclick="javascript:history.go(-1);" class="btn btn-reddit"><i class="fa fa-repeat"></i> Quay lại</a>
                </h3>
                <div class="box-tools pull-right">
                    @*@Html.ActionLink("Quay lại", "Index", new { @class = "btn btn-reddit" })*@
                
                </div>
            </div><!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="validation-group">
                        @Html.ValidationSummary(true)
                    </div>
                    <div class="col-md-12">
                        @Html.LabelFor(m => m.CW_Customers.UserNameCustomer, new { @class = "control-label" })

                        @Html.TextBoxFor(m => m.CW_Customers.UserNameCustomer, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.CW_Customers.UserNameCustomer)

                    </div>
                    <div class="col-md-12">
                        @Html.LabelFor(m => m.Password, new { @class = "control-label" })

                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password)

                    </div>
                    <div class="col-md-12">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })

                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword)

                    </div>
                    <div class="col-md-12">
                        @Html.LabelFor(m => m.CW_Customers.UserProfile.FullName, new { @class = "control-label" })

                        @Html.TextBoxFor(m => m.CW_Customers.UserProfile.FullName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.CW_Customers.UserProfile.FullName)

                    </div>
                    <div class="col-md-12">
                        @Html.LabelFor(m => m.CW_Customers.CustomerGroupsID, new { @class = "control-label" })

                        @Html.DropDownListFor(m => m.CW_Customers.CustomerGroupsID, ViewBag.CustomerGroup as SelectList, "--Nhóm khách hàng--", new { @class = "form-control" })

                    </div>
                    <div class="col-xs-12">
                        @Html.LabelFor(m => m.CW_Customers.UserProfile.Mobile, new { @class = "control-label" })

                        @Html.TextBoxFor(m => m.CW_Customers.UserProfile.Mobile, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.CW_Customers.UserProfile.Mobile)
                    </div>
                    <div class="col-xs-12">
                        @Html.LabelFor(m => m.CW_Customers.NickYahoo, new { @class = "control-label" })

                        @Html.TextBoxFor(m => m.CW_Customers.NickYahoo, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.CW_Customers.NickYahoo)

                    </div>
                    <div class="col-xs-12">
                        @Html.LabelFor(m => m.CW_Customers.NickSkype, new { @class = "control-label" })

                        @Html.TextBoxFor(m => m.CW_Customers.NickSkype, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.CW_Customers.NickSkype)

                    </div>
                    <div class="col-xs-12">
                        @Html.LabelFor(m => m.CW_Customers.Facebook, new { @class = "control-label" })

                        @Html.TextBoxFor(m => m.CW_Customers.Facebook, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.CW_Customers.Facebook)

                    </div>
                    <div class="col-xs-12">
                        @Html.LabelFor(m => m.CW_Customers.UserProfile.Address, new { @class = "control-label" })

                        @Html.TextAreaFor(m => m.CW_Customers.UserProfile.Address, new { @class = "form-control", @row = "3" })
                        @Html.ValidationMessageFor(m => m.CW_Customers.UserProfile.Address)

                    </div>
                    <div class="col-xs-12">
                        <br />
                        <button type="submit" class="btn btn-success">Lưu</button>

                    </div>
                    @Html.AntiForgeryToken()
                </div><!-- /.row -->
            </div>
        </div>
    }

</section>
