@model Model.EF.Nationality
@{
    ViewBag.Title = "Sửa quốc gia";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>
        Thêm quốc gia
    </h1>
    <ol class="breadcrumb">
        <li><a href="/admin"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li class="active"><a href="#">Sửa quốc gia</a></li>
    </ol>
</section>
<section class="content">
    @using (Html.BeginForm("Edit", "National", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
    {
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">
                    <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Lưu lại</button>
                    <a href="javascript:history.go(-1);" class="btn btn-reddit"><i class="fa fa-repeat"></i> Quay lại</a>
                </h3>
                <div class="box-tools pull-right">
                    @*@Html.ActionLink("Quay lại", "Index", new { @class = "btn btn-reddit" })*@
                </div>
            </div><!-- /.box-header -->
            <div class="box-body">
                <div class="col-xs-12">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#activity" data-toggle="tab">Thông tin chung</a></li>
                            @*<li><a href="#seo" data-toggle="tab">SEO</a></li>*@
                        </ul>
                        <div class="tab-content">
                            <div class="active tab-pane" id="activity">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">
                                        @Html.LabelFor(m => m.NationalityName, new { @class = "control-label" })
                                    </label>
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(m => m.NationalityName, new { @class = "form-control", @placeholder = "Tên" })

                                        @Html.ValidationMessageFor(m => m.NationalityName)
                                        @Html.HiddenFor(m => m.Id)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">
                                        @Html.LabelFor(m => m.NationalityName, new { @class = "control-label" })
                                    </label>
                                    <div class="col-sm-5">
                                        @Html.TextBoxFor(m => m.NationalityCode, new { @class = "form-control", @placeholder = "Mã quốc gia" })

                                        @Html.ValidationMessageFor(m => m.NationalityCode)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">
                                        @Html.LabelFor(m => m.Icon, new { @class = "control-label" })
                                    </label>
                                    <div class="col-sm-4">
                                        @Html.TextBoxFor(m => m.Icon, new { @id = "txtimage", @class = "form-control", @placeholder = "Icon" })
                                        @Html.ValidationMessageFor(m => m.Icon)

                                    </div>
                                    <div class="col-sm-4">
                                        <input id="browseServer" class="btn" onclick="BrowseServer('txtimage');" type="button" value="Tải ảnh">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">
                                        @Html.LabelFor(m => m.Fee, new { @class = "control-label" })
                                    </label>
                                    <div class="col-sm-5">
                                        @Html.TextBoxFor(m => m.Fee, new { @class = "form-control", @placeholder = "Fee" })

                                        @Html.ValidationMessageFor(m => m.Fee)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">
                                        @Html.LabelFor(m => m.Description, new { @class = "control-label" })
                                    </label>
                                    <div class="col-sm-5">
                                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @placeholder = "Mô tả" })

                                        @Html.ValidationMessageFor(m => m.Description)
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">
                                        @Html.LabelFor(m => m.TimeZoo, new { @class = "control-label" })
                                    </label>
                                    <div class="col-sm-5">
                                        @Html.TextBoxFor(m => m.TimeZoo, new { @class = "form-control", @placeholder = "TimeZoo" })

                                        @Html.ValidationMessageFor(m => m.TimeZoo)
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">
                                        @Html.LabelFor(m => m.Requirement, new { @class = "control-label" })
                                    </label>
                                    <div class="col-sm-5">
                                        @Html.TextBoxFor(m => m.Requirement, new { @class = "form-control", @placeholder = "Requirement" })

                                        @Html.ValidationMessageFor(m => m.Requirement)
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">
                                        @Html.LabelFor(m => m.Tips, new { @class = "control-label" })
                                    </label>
                                    <div class="col-sm-5">
                                        @Html.TextBoxFor(m => m.Tips, new { @class = "form-control", @placeholder = "Tips" })

                                        @Html.ValidationMessageFor(m => m.Tips)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">
                                        @Html.LabelFor(m => m.IsActive, new { @class = "control-label" })
                                    </label>
                                    <div class="col-sm-10">
                                        @Html.CheckBoxFor(m => m.IsActive, new { @Checked = "Checked" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">
                                        @Html.LabelFor(m => m.SortOrder, new { @class = "control-label" })
                                    </label>
                                    <div class="col-sm-3">
                                        @Html.TextBoxFor(m => m.SortOrder, new { @class = "form-control", @placeholder = "Thứ tự", @Value = "1" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @Html.AntiForgeryToken()
            </div>
        </div>
    }
</section>


@section jsFooter {

    <script type="text/javascript">
        function BrowseServer(field) {
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                document.getElementById(field).value = fileUrl;
            };
            finder.popup();
        }

    </script>

}

