@model IEnumerable<Model.EF.WebRole>
@{
    ViewBag.Title = "Quản lý quyền";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    int i = 1;
}
<section class="content-header">
    <h1>
        Quản lý quyền
    </h1>
    <ol class="breadcrumb">
        <li><a href="/admin"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li><a href="#">Quyền</a></li>

    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">
                Có tất cả @if (Model != null)
                {
                    <span>@Model.Count()</span>
                }
                else
                {
                    <span>0</span>
                } quyền
            </h3>
            <div class="text-left">
                <br />
                <a href="/admin/roles/add" class="btn btn-primary"><i class="fa fa-plus"></i> Thêm mới</a>
                <a href="javascript:void(0)" class="btn btn-warning delete"><i class="fa fa-trash"></i> Xóa tất cả</a>
            </div>


        </div><!-- /.box-header -->
        <div class="box-body">
            <table id="example1" class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th style="width:20px;">STT</th>
                        <th>Tên nhóm</th>
                        <th>Mô tả</th>
                        <th width="100px"></th>
                        <th>
                            <input type="checkbox" id="title-checkbox" name="title-checkbox" />
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr id="trow_@item.RoleId">
                            <th style="text-align:center">@i</th>
                            <td>@item.RoleName</td>
                            <td>@item.Description</td>
                            <td>
                                <center>
                                    <a href="/admin/roles/edit/@item.RoleId" class='btn btn-mini btn-primary'><i class="fa fa-edit"></i></a>

                                    <a href="#" data-toggle="modal" data-target="#myAlert" data="@item.RoleId" class='btn btn-mini btn-danger btndelte'><i class="fa fa-trash"></i></a>
                                </center>
                            </td>
                            <td><center><input type="checkbox" value="@item.RoleId" /></center></td>
                        </tr>
                        i = i + 1;
                    }


                </tbody>

            </table>


            <div class="modal modal-danger" id="myAlert">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Cảnh báo</h4>
                        </div>
                        <div class="modal-body">
                            <p>Bạn có thực sự muốn xóa bản ghi nay?</p>
                        </div>
                        <div class="modal-footer">
                            <a href="javascript:void(0)" class="btn btn-outline pull-left closealert" data-dismiss="modal">Bỏ qua</a>
                            <a href="javascript:void(0)" class="btn btn-outline deleleoneitem">Đồng ý</a>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        </div><!-- /.box-body -->
    </div><!-- /.box -->
</section><!-- /.content -->
@section jsFooter{
    <script>
        $(function () {
            $("#example1").DataTable();
        });
    </script>
    <script >


        $(document).ready(function () {

            //checked all
            $("#title-checkbox").change(function () {
                var checkedStatus = this.checked;
                var checkbox = $(this).parents('.box').find('tr td input:checkbox');

                checkbox.each(function () {
                    this.checked = checkedStatus;
                    if (this.checked) {
                        checkbox.attr("selected", "checked");
                        checkbox.parent('span').addClass('checked');
                    }
                    else {
                        checkbox.attr("selected", "");
                        checkbox.parent('span').removeClass('checked');
                    }
                });
            });
            //xóa nhiều bản ghi cùng một nút
            $(".delete").click(function () {
                var checkbox = $('.box').find('tr td input:checkbox');
                //if (checkbox.attr("selected", "")) {
                //    alert("Bạn chưa chọn bản ghi nào");
                //}
                var conf = confirm("Bạn có thực sự muốn xóa những bản ghi này !");
                if (conf == true) {
                    var checkbox = $(this).parents('.box').find('tr td input:checkbox');
                    var bool = false;
                    checkbox.each(function () {
                        if (this.checked) {
                            bool = true;
                            $.ajax(
                                {
                                    type: "POST",
                                    url: '/Roles/Delete',
                                    beforeSend: function () {
                                        $("#rendersearch").html("<div id='dvloading' style=' text-align: center; padding: 20px 0px;'><img src='/Content/themes/admin/images/ajax-loader.gif' /></div>");
                                    },
                                    async: false,
                                    dataType: "json",
                                    data: { id: $(this).val() }
                                })
                                .fail(function () {
                                    $.gritter.add({
                                        title: 'Thông báo lỗi.',
                                        text: 'Có lỗi xảy ra trong quá trình cập nhật.',
                                        sticky: false,
                                        class_name: 'my_class_gritter_error'
                                    });
                                });
                        }
                    });
                    if (!bool) {
                        $.gritter.add({
                            title: 'Chú ý.',
                            text: 'Bạn vui lòng chọn một bản ghi để xóa!',
                            sticky: false,
                            class_name: 'my_class_gritter_alert'
                        });
                    }
                    else {
                        window.location.reload();
                    }
                }

            });

           
            //xóa một bản ghi
            $(".btndelte").click(function () {
                var id = $(this).attr('data');
                $(".deleleoneitem").attr('data', id);
                //showalert("Bạn có thực sự muốn xóa bản ghi này?", "Cảnh báo", true);
            });

            $(".deleleoneitem").click(function () {
                var _id = $(this).attr('data');
                $.ajax(
                    {
                        type: "POST",
                        url: '/Roles/Delete',
                        data: { id: _id }
                    })
                    .done(function () {
                        $('#myAlert').modal('hide');
                        $("#trow_" + _id).fadeTo("fast", 0, function () {
                            $(this).slideUp("fast", function () { $(this).remove(); });
                        });
                    })
                .fail(function () {
                    $.gritter.add({
                        title: 'Thông báo lỗi.',
                        text: 'Có lỗi xảy ra trong quá trình cập nhật.',
                        sticky: false,
                        class_name: 'my_class_gritter_error'
                    });

                });
            });

        });
    </script>
}
