<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Trang quản trị
    @{
        var lang = Session["language"].ToString();
    }
    </title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="@COMMOM.Interface.ISetting.GetSettingValue("SettingFavicon"+lang)" rel="shortcut icon" type="image/x-icon" />
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="/asset/admin/bootstrap/css/bootstrap.min.css">
    @Styles.Render("~/Content/themes/base/css")
    @*@Styles.Render("~/Content/themes/admin/css")*@
    <!-- Font Awesome -->
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">*@
    <link href="~/asset/admin/bootstrap/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    @*<link href="~/asset/admin/bootstrap/css/ionicons.min.css" rel="stylesheet" />*@
    <!-- Theme style -->
    <link href="/Content/themes/treetable/jquery.treetable.theme.default.css" rel="stylesheet" />

    <link rel="stylesheet" href="/asset/admin/plugins/select2/select2.min.css">
    <link href="/asset/admin/bootstrap/css/jquery.gritter.css" rel="stylesheet" />
    <link rel="stylesheet" href="/asset/admin/plugins/iCheck/all.css">
    <link href="/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <link rel="stylesheet" href="/asset/admin/plugins/datatables/dataTables.bootstrap.css">
    <link rel="stylesheet" href="/asset/admin/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="/asset/admin/dist/css/skins/_all-skins.min.css">
    <link href="/asset/admin/bootstrap/css/template.css" rel="stylesheet" />
    <script src="/asset/admin/plugins/jQuery/jQuery-2.1.4.min.js"></script>
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="/admin" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>H</b>T</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Admin</b>HT</span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown messages-menu" style="padding-top: 10px">
                            @*<select class="select2" style="width: 150px;margin-top: 5px;">
                                <option value="-1">Ngôn ngữ</option>
                                <option value="vi">Tiếng Việt</option>
                                <option value="en">Tiếng Anh</option>
                            </select>*@
                            @using (Html.BeginForm("ChangeCulture", "BaseLang"))
                            {
                                @Html.Hidden("returnUrl", Request.RawUrl)
                                @Html.DropDownList("ddlCulture", new SelectList(new[] {
                                new {value="vi",text=StaticResources.Resources.Vietnamese},
                                new {value="en",text=StaticResources.Resources.English},

                                }, "value", "text", Session["language"]), new { onchange = "this.form.submit();",@class = "form-control select2",@style="width: 150px;" })
                            }
                        </li>
                        <!-- Messages: style can be found in dropdown.less-->
                        <li class="dropdown messages-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-envelope-o text-teal"></i> @StaticResources.Resources.Notification
                                <span class="label label-success" id="loadtotal">0</span>
                            </a>
                            @Html.Action("_Menutop", "Home")
                        </li>


                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="/admin/user/viewprofile" class="dropdown-toggle" data-toggle="dropdown">
                                @*<img src="/asset/admin/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">*@
                                <i class="fa fa-user text-aqua"></i><span class="hidden-xs">@StaticResources.Resources.Name: (@HttpContext.Current.User.Identity.Name)</span>
                            </a>

                        </li>
                        <li><a href="/admin/user/ChangePassCurrentUserName"><i class="fa fa-houzz text-yellow"></i> @StaticResources.Resources.Changepassword</a></li>
                        <li><a href="/" target="_blank"><i class="fa fa-home"></i> @StaticResources.Resources.Viewwebsite</a></li>
                        <li><a href="/admin/user/logoff"><i class="fa fa-sign-out" style="color: red"></i> @StaticResources.Resources.LogOut</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                @RenderPage("_NavigationLeft.cshtml")
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            @RenderBody()
        </div><!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 2.3.0
            </div>
            <strong>Copyright &copy; 2015-2016 Được phất triển bởi<a href="#">Hoàng</a>.</strong> liên hệ ngohoang29@gmail.com.
        </footer>
        <!-- Control Sidebar -->
        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div><!-- ./wrapper -->
    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")*@
    <!-- jQuery 2.1.4 -->
    
    <!-- Bootstrap 3.3.5 -->
    <script src="/asset/admin/bootstrap/js/bootstrap.min.js"></script>
    <!-- Slimscroll -->
    <script src="/asset/admin/plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="/asset/admin/plugins/fastclick/fastclick.min.js"></script>
    <script src="/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <!-- InputMask -->
    <script src="/asset/admin/plugins/input-mask/jquery.inputmask.js"></script>
    <script src="/asset/admin/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
    <script src="/asset/admin/plugins/input-mask/jquery.inputmask.extensions.js"></script>
    <!--Bảng dữ liệu-->
    <script src="/asset/admin/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/asset/admin/plugins/datatables/dataTables.bootstrap.min.js"></script>

    <!-- iCheck 1.0.1 -->

    <script src="/asset/admin/dist/js/app.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="/asset/admin/dist/js/demo.js"></script>
    <script src="/asset/ckeditor/ckeditor.js"></script>
    <script src="/asset/ckfinder/ckfinder.js"></script>


    <script src="/asset/admin/bootstrap/js/jquery.gritter.min.js"></script>

    <script src="/asset/admin/plugins/select2/select2.full.min.js"></script>


    <script src="/Scripts/admin/jquery-ui.js"></script>
    <script src="/asset/admin/bootstrap/js/tooltip.js"></script>
    <script src="/Scripts/admin/jquery.treetable.js"></script>
    <script type="text/javascript">

        $(window).load(function () {
            loadnotification();
        });

        function loadnotification() {
            $.get("/Admin/Home/LoadMenutop",
                 function (data) {
                     $(".total").html(data.count);
                     $(".dropdown-menu ul.menu").append(data.message);
                 });
        }
        $(function () {

            $(".select2").select2();
        });
    </script>

    @RenderSection("jsFooter", required: false)
</body>
</html>
